# 环境变量（含密钥），禁止提交
.env
.env.local

# 依赖
node_modules/

# 构建产物
dist/
build/
server/dist/

# 日志
*.log
*.err

# 系统
.DS_Store
Thumbs.db

# 提交缓存
.cache/

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  